<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/static/custom/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('a[name="train_delete"]').click(function () {
            var id = this.rel;
            $.post("/admin/train/remove", {id: id}, function () {
                loadGrid({});
            })
        });

        $('a[name="train_update"]').click(function () {
            var id = this.rel;
            loadForm(id);
        });
    </script>
</head>
<body>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 20%">名称</th>
            <th style="width: 55%">适合学员</th>
            <th style="width: 20%">操作</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < items.length;i++) { %>
        <tr>
            <td>
                <%= (i + 1) %>
                <div style="display: none"><%= items[i].id %></div>
            </td>
            <td><%= items[i].name %></td>
            <td><%= items[i].student_desc %></td>
            <td>
                <a name="train_update" rel="<%= items[i].id %>" class="btn btn-primary btn-xs">修改</a>
                <a name="train_delete" rel="<%= items[i].id %>" class="btn btn-danger btn-xs">删除</a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

</body>
</html>