<div class="class_listjs">
    <dl class="cd fix">
        <dt class="f_l">
            <b class="name fc_323"><%=train.name%></b>
            <p class="course fix">
                <strong>适合学员：</strong>
                <span><%=train.student_desc%></span>
            </p>

            <p class="course fix">
                <strong>课程简介：</strong>
                <span><%=train.train_desc%></span>
            </p>

            <div class="price">
                <span class="total btn"><font>●</font>￥<%=train.price%> 起</span>
                <span class="num btn"><font>●</font><%=train.apply_count%>/<%=train.total_count%></span>
            </div>
            <a href="#" class="arrow">›</a>
        </dt>
        <dd class="f_r"></dd>
    </dl>
</div>